        #register {
            background-color: hsl(63, 71%, 67%);
            width: 246px;
            height: 30px;
            font-family: 'Times New Roman', Times, serif;
            border-radius: 4px;
            font-weight: bold;
        }
        #first-section {
            width: 1515px;
            height: 50px;
            background-color: hsl(196, 77%, 81%);
            font-weight: bold;
            font-size: medium;
            padding-left: 4px; 
            padding-right: 4px;
            text-align: center;
            margin-bottom: 30px;
            
        }
        #lms {
            font-family: 'Times New Roman', Times, serif;
            padding-left: 0px;
            padding-right: 20px;
            
        }
        a {

            text-align: center;
            text-decoration: hsl(240, 60%, 34%);

        }
        #second-section {
            width: 320px;
            height: 380px;
            background-color: hsl(196, 77%, 81%);
            margin-left: 550px;
            margin-right: 650px;
            padding:100px 20px 20px 20px;
            border-radius: 10px;
            text-align: center;
            
           
        }
        #usertype {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }
    
        #fullname {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }
    
        #phonenumber {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }
    
        #email {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }
    
        #password {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }
        
        
    