<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #first-section {
            width: 1420px;
            height: 600px;
            background-color: rgba(128, 128, 128, 0.415);
            font-weight: 300;
            text-align: center;
            margin:0px 0px 0px 0px;
            padding: 50px 50px 50px 50px ;
            
        }
        #dashboard {
            width:130px ;
            height: 30px;
            background-color: rgba(0, 255, 255, 0.305);
            text-align: center;
            text-decoration-color: black;
            border-radius: 3px;
        }

        
    </style>
</head>
<body>
    <div id="first-section">
        <h1> User Dashboard</h1>

         <form action="/newrequest">
            <p><input type="hidden" id="input" name="email" value="{{email}}"></p>
            
            <p><input type="submit" id="newrequest" value="New request" ></p>
        </form>

        <form action="/oldrequests">
            <p><input type="hidden" id="input" name="email" value="{{email}}"></p>
            
            <p><input type="submit" id="oldrequest" value="View Old Requests" ></p>
        </form>
        
    </div>
</body>
</html>