<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       #first-section {
            width: 1515px;
            height: 50px;
            background-color: hsl(196, 77%, 81%);
            font-weight: bold;
            font-size: medium;
            padding-left: 4px; 
            padding-right: 4px;
            text-align: center;
        }
        #second-section {
            width: 1420px;
            height: 90px;
            background-color: hsl(0, 0%, 100%);
            font-weight: 20px;
            font-size: medium;
            text-align: center;
            padding: 0px 50px 50px 50px ;
        }

        #third-section {
            width: 1420px;
            height: 380px;
            margin:0px 0px 0px 0px;
            padding: 50px 50px 50px 50px ;
            background-image: url("https://partselectcom.azureedge.net/assets/content/58702/laundry-cheat-sheet-header.png");
        }
        #newrequest {
            width:130px ;
            height: 30px;
            background-color: rgba(0, 255, 255, 0.305);
            text-align: center;
            text-decoration-color: black;
            border-radius: 3px;
            
        }
        #oldrequest {
            width:130px ;
            height: 30px;
            background-color: rgba(0, 255, 255, 0.305);
            text-align: center;
            text-decoration-color: black;
            border-radius: 3px;
        }
         #logout {
        float: right;
        padding-right: 20px;
       }

        
    </style>
</head>
<body>
    <div id="first-section">
        <p id="logout"><a href="/homepage">Log out</a></p>
        <p><h1>Laxmi Laundry Management System</h1></p>
    </div>
    <div id="second-section">
        <p><h1>User Dashboard</h1></p>

         <form action="/newrequest">
            <p><input type="hidden" id="input" name="email" value="{{email}}"></p>
            
            <p><input type="submit" id="newrequest" value="New request" ></p>
        </form>

        <form action="/listofoldrequests">
            <p><input type="hidden" id="input" name="email" value="{{email}}"></p>
            
            <p><input type="submit" id="oldrequest" value="View Old Requests" ></p>
        </form>
    </div>
    <div id="third-section"></div>
</body>
</html>