<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #fullpage {
            width: 1420px;
            height: 600px;
        }
        #first-section {
            width: 1420px;
            height: 120px;
            background-color: #ffffff5d;
            font-weight: 20px;
            text-align: center;
            margin:0px 0px 0px 0px;
            padding: 0px 50px 50px 50px ;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        #reg {
            width:130px ;
            height: 30px;
            background-color: rgba(0, 255, 255, 0.305);
            text-align: center;
            text-decoration-color: black;
            border-radius: 3px;
            
        }
        #second-section {
            width: 1420px;
            height: 400px;
            margin:0px 0px 0px 0px;
            padding: 50px 50px 50px 50px ;
            background-image: url("https://partselectcom.azureedge.net/assets/content/58702/laundry-cheat-sheet-header.png");
        }

        
    </style>
</head>
<body>
    <div id="fullpage">
    <div id="first-section">
        <h1>Laxmi Laundry Management System</h1>
        <p><a href="/registration"><input type="button" id ="reg" value="Registration"></a></p>
        <p><a href="/login"><input type="button" id="reg" value="Login"></a></p>
    </div>
    <div id="second-section"></div>
    </div>

</body>
</html>