<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        #first-section {
            width: 1530px;
            height: 720px;
            background-color: hsl(196, 77%, 81%);
            
        }
        #second-section {
            width: 1530px;
            height: 26px;
            background-color: #0000006a;
            font-weight: bold;
            font-size: medium;
            padding-top: 5px;
            padding-bottom: 2px;
            padding-left: 5px;
             
        }
       
        #submit {
            background-color: #8b8bcc;
            width: 246px;
            height: 30px;
            font-family: 'Times New Roman', Times, serif;
            border-radius: 4px; 
        }
        
        #third-section {
            width: 320px;
            height: 380px;
            background-color: rgb(238, 126, 126);
            margin-left: 550px;
            margin-right: 650px;
            margin-top: 40px;
            padding:60px 20px 20px 20px;
            
            border-radius: 10px;
            text-align: center;
        }
        #topwear {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }

        #bottomwear {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }

        #otherwears {
            border-radius: 4px;
            width: 240px;
            height: 20px;
            border-style: solid;
        }

        #request {
            font-family: 'Times New Roman', Times, serif;
           
            padding-left: 0px;
            padding-right: 20px;
            
        }
        
        #pickup {
            width: 150px;
            height: 20px;
            border-radius: 4px;
            border-style: solid;
        }
    </style>
</head>
<body>
    <div id="first-section">
        <div id="second-section">Laxmi Laundry Management System</div>
        <div id="third-section">
        <form action="/savenewrequest?email={{email}}">
            <p id="request"> New Request </p>
            <p>Pickup Date :<input type="date" id="pickup" name="pickupdate" placeholder="Pickup Date"></p>
            <p><input type="text" id="topwear" name="topwear" placeholder="Topwear(T-shirt,Top,Shirt)"></p> 
            <p><input type="text" id="bottomwear" name="bottomwear" placeholder="Bottomwear(Lower,Jeans,Leggins)"></p>
            <p><input type="text" id="otherwears" name="otherwears" placeholder="Others"></p>
            <p><input type="hidden" id="email" name="email" value="{{email}}"></p>
            
            <p><input type="submit" id="submit" value="Submit" ></p>
         {{#if mesg1}}
                <h3>Request saved successfull</h3>
                {{/if}}

               {{#if mesg2}}
                <h3>Unable to save request , Please resubmit with proper data !</h3>
               {{/if}}
        </form>
        <p><a href="/homepage">Home page</a></p>
       </div>
    </div>    
</body>
</html>